/* *{
  outline: solid hotpink 1px;
} */

h1{
    text-align: center;
    color: white ;
}
h2{
    color: white;
}
body{
    
    background-image:  url(../images/star-background.jpg);
    background-repeat: repeat;
    background-position: 0%;
    background-size:100% 100%;
    
    
}


img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    
}

h2{
  margin-bottom: 10px;
}

  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 10px;
  }
  
  .grid-container > section {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  #Description {
    padding: 20px;
    padding-top:10px;
    margin-top: 20px;
    margin-left: 30px;
    grid-column-start: 1;
    grid-column-end: 2;
    color: white ;
  }
  #Atmostphere {
    padding: 20px;
    padding-top: 0px;
    margin-left: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: white ;
  }
  #Geology {
    padding: 20px;
    padding-top: 0px;
    margin-left: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 3;
    color: white ;
  }

  #Fun-Fact{
    padding: 20px;
    padding-top: 0px;
    margin-left: 30px;
    grid-column-start: 2;
    grid-column-end: 3;
    color: white ;
  
  }

  footer {
    padding: 20px;
    padding-top: 0px;
    margin-left: 30px;
    background-color: rgba(128, 128, 128, .3);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 5;
    color: white ;
  }

  footer p{
    color: black;
  }

  footer ul {
    list-style-type: none;
  }

  footer a {
    color: rgb(77, 77, 131);
    text-decoration: none;
  }

  footer a:visited {
    color: darkgreen;
  }

  footer a:hover {
    color: green;
  }


  #wormhole{
    padding: 20px;
    padding-top: 0px;
    margin-left: 30px;
    
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 4;
    height: 20vh;
    background-image: url("../images/wormhole.webp");
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }

  #wormhole h3{
    color: rgb(3, 3, 3) ;
    text-shadow: rgb(158, 165, 210) 1px 0 10px;
    font-size: 2.2em;
    line-height: 20vh;
    vertical-align: middle;
  }

/* #planet{
max-width: 100%;
} */
